<%- include('./partials/css-global'); %>
<%- include('./partials/head'); %> 
<%- include('./partials/header'); %>


 <!-- make a body class for css or use main class? -->
<body>
<section class="agencies">
<div class="container">
  <div class="contactinfo">
  <h2>Contact Form</h2>
  <ul class="info">
    <li>
      <span><% page_data.agencies_data.forEach(function(agency){ %><br>
        <%= agency.AgncyAddress %> <br>
        Ph: <%= agency.AgncyPhone %><br>
        <%= agency.AgncyCity %>, <%= agency.AgncyProv %>, <%= agency.AgncyCountry %><br>
        <%= agency.AgncyPostal %><br>
        <!-- Fax: <%= agency.AgncyFax %><br></span> -->
    </li> 
    <li>
      <span><% page_data.agents_data.forEach(function(agent) { %>
        <% if(agent.AgencyId == agency.AgencyId) { %><br>
          <%= agent.AgtPosition %>:<br> <%= agent.AgtFirstName %> <%= agent.AgtLastName %><br> 
          Ph: <%= agent.AgtBusPhone %><br><%} %>
        <%});
      %><%})
     %></span>
     </li>
    </div>
  <div class="contactForm">
    <h2>Send a Message</h2>
    <form action="/comments" method="post"></form>
    <div class="formBox">
      <div class="inputBox w50">
      <label for="custName" class="required">Name</label>
        <input type="text" name="custName" id="name_input" placeholder="Your name.." required>
      </div>
      <div class="inputBox w50">
      <label for="custEmail" class="required">Email Address</label>
        <input type="email" name="custEmail" id="email_input" placeholder="Enter your email address" required>    
      </div>   
      <div class="inputBox w100">
      <label for="custComments" class="required">Message</label>
      <textarea id="subject" name="custComments" id="text_input" placeholder="Your message.." style="height:100px" required></textarea>
      </div>
      <div class="inputBox w100">
      <button class=submit_btn>Submit</button>
      </div>
    </div>
    </form>  </div>
  </main>
</section>
</body>
<%- include('./partials/js-global'); %>
<%- include('./partials/footer'); %>




