<%- include('./partials/css-global'); %>
<%- include('./partials/head'); %>
<%- include('./partials/header'); %>

<body class="contact">
  <main class="contact_section">
    <div class="contact_info">
      <legend id="contactform">Contact Us</legend>
        <% page_data.agencies_data.forEach(function(agency){ %>
        <%= agency.AgncyCity %> <br><br>
        <%= agency.AgncyAddress %>&nbsp; <%= agency.AgncyCity %>&nbsp;<%= agency.AgncyProv %>,&nbsp;
        <%= agency.AgncyCountry %>&nbsp; <%= agency.AgncyPostal %><br>
        Ph: <%= agency.AgncyPhone %><br>
        Fax: <%= agency.AgncyFax %><br><br>
        <% page_data.agents_data.forEach(function(agent) { %>
        <% if(agent.AgencyId == agency.AgencyId) { %>
        <%= agent.AgtPosition %> : <%= agent.AgtFirstName %> <%= agent.AgtLastName %>&nbsp;Ph:
        <%= agent.AgtBusPhone %><br><br><%} 
              %><%
            });
          %><%
        })%>
    </div>
    <section class ="maps">
    <div class="gmap1">
      <h4>Calgary</h4>
    <div class="mapouter"><div class="gmap_canvas"><iframe width="200" height="200" id="gmap_canvas" src="https://maps.google.com/maps?q=1155%208th%20Ave%20SW%20%20Calgary%20,%20AB,&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://add-google-map.com">add-google-map.com</a></div><style>.mapouter{position:relative;text-align:right;height:200px;width:200px;}.gmap_canvas {overflow:hidden;background:none!important;height:200px;width:200px;}</style></div>
  </div>
    <div class ="gmap2">
      <h4>Okotoks</h4>
    <div class="mapouter"><div class="gmap_canvas"><iframe width="200" height="200" id="gmap_canvas" src="https://maps.google.com/maps?q=110%20Main%20Street%20%20Okotoks%20,%20AB,%20&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://add-google-map.com">add-google-map.com</a></div><style>.mapouter{position:relative;text-align:right;height:200px;width:200px;}.gmap_canvas {overflow:hidden;background:none!important;height:200px;width:200px;}</style></div>
  </div>
  </section>
      <div class="container_contact">
      <legend>Send Us a Message</legend>
      <form action="/comments" method="post">
        <label for="custName" class="required">Name</label>
        <input type="text" name="custName" id="name_input" placeholder="Your name.." required>
        <label for="custEmail" class="required">Email Address</label>
        <input type="email" name="custEmail" id="email_input" placeholder="Enter your email address" required>
        <label for="custComments" class="required">Message</label>
        <textarea id="subject" name="custComments" id="text_input" placeholder="Your message.." style="height:100px"
          required></textarea>
        <button>Submit!</button>
      </form>
    </div>
    
  </main>
</body>

<%- include('./partials/js-global'); %>
<%- include('./partials/footer'); %>