<%- include('./partials/css-global'); %>
<%- include('./partials/head'); %> 
<%- include('./partials/header'); %>
  
<body class="book">
  <main class="book_form">
    <form action="/bookings" method="post">
      <div class="container_book">
        <h2 id="asia">Please complete the form to book our Asian Expedition Package</h2>
        <label for="firstName" class="required">First Name</label>
        <input type = "text" placeholder = "Enter First Name" name = "firstName" required>
        <label for="lastName" class="required">Last Name</label>
        <input type = "text" placeholder = "Enter Last Name" name = "lastName" required>
        <label for="homePhone" class="required">Home Phone</label>
        <input type = "text" placeholder = "Enter Home Phone Number" name = "homePhone" required>
        <label for="busPhone" class="required">Business Phone</label>
        <input type = "text" placeholder = "Enter Business Phone Number" name = "busPhone" required>
        <label for="travelerCount" class="required">Number of Travelers</label>
        <input type = "text" placeholder = "Enter number of Travelers" name = "travelerCount" required>
        <button>Submit!</button>
      </div>
    </form>
  </main>
</body>
<%- include('./partials/js-global'); %>
<%- include('./partials/footer'); %>
