<%- include('./partials/css-global'); %>
<%- include('./partials/head'); %> 
<%- include('./partials/header'); %>

<body>
  <div class ="h1">
    <h1 id="gallery">TAKE THE ADVENTURE WITH US!</h1>
    <p>Get started your vacation planning with us and sign up for deals</p>
    <a class="button-sign-up" href="/register"></i> SIGN UP FOR FREE</a>
  </div> 
</body> 


<%- include('./partials/js-global'); %>
<%- include('./partials/footer'); %>
