<%- include('./partials/css-global'); %>
<%- include('./partials/head'); %>
<%- include('./partials/header'); %>

<body>
  <div class="h1">
    <h1>TAKE AN ADVENTURE WITH US!</h1>
    <h2>Start your vacation planning and sign up for deals</h2>
    <a class="button-sign-up" href="/register"></i> SIGN UP FOR FREE</a>
  </div>
</body>

<%- include('./partials/js-global'); %>
<%- include('./partials/footer'); %>