<%- include('./partials/css-global'); %>
<%- include('./partials/head'); %> 
<%- include('./partials/header'); %>

<body>
   <main class="packages"></main>
</body>

<%- include('./partials/js-global'); %>
<%- include('./partials/footer'); %>
