<%- include('./partials/css-global'); %>
<%- include('./partials/head'); %> 
<%- include('./partials/header'); %>
<body>
  <main class="packages"></main>
</body>


<%= moment('2020.08.01', 'YYYY.MM.DD').fromNow(true); %>


<%- include('./partials/js-global'); %>
<%- include('./partials/footer'); %>
