<%- include('./partials/css-global'); %>
<%- include('./partials/head'); %>
<%- include('./partials/header'); %>

<body>
  <main>
    <div class="registered">
      <h1>Registration Successful!</h1>
      <button class="button-sign-up"><a href="/login">Please Login</button>
    </div>
  </main>
</body>

<%- include('./partials/js-global'); %>
<%- include('./partials/footer'); %>