<%- include('./partials/head'); %> 
<%- include('./partials/css-global'); %>
<%- include('./partials/header'); %>

 <body class="sky"> 
   <main class="register_form">
     <form action="/customers" method="post">
       <div class="container_register">
         <h2 id="register">Registration Page</h2>
          <input type = "text" placeholder = "Enter First Name" name = "firstName" required>
          <input type = "text" placeholder = "Enter Last Name" name = "lastName" required>
          <input type = "text" placeholder = "Enter Street Address" name = "address" required>
          <input type = "text" placeholder = "Enter City" name = "city" required>
          <input type = "text" placeholder = "Enter Province" name = "prov" required>
          <input type = "text" placeholder = "Enter Postal Code" name = "postal" required>
          <input type = "text" placeholder = "Enter Home Phone Number" name = "homePhone" required>
          <input type = "text" placeholder = "Enter Business Phone Number" name = "busPhone" required>
          <input type = "email" placeholder = "Enter your email address" name="email" required>
          <input type = "text" placeholder = "Create a User Name" name = "userid" required>
          <input type = "password" placeholder= "Enter a Password" name = "passwd" minlength="8" required>
          <button class=submit_btn>Submit</button>
      </div>
     </form>
   </main>
  </body>
  <%- include('./partials/js-global'); %>
  <%- include('./partials/footer'); %>
  