<%- include('./partials/css-global'); %>
<%- include('./partials/head'); %> 
<%- include('./partials/header'); %>

<body>
  <div class ="h1">
  <h1>Registration Successful</h1>
  <button><a href="/login">Please Login</button>
  </div>
</body> 

<%- include('./partials/js-global'); %>
<%- include('./partials/footer'); %>
