<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Travel Experts Register Page</title>
  <%- include('./partials/css-global'); %>
</head>
  <%- include('./partials/header_reg.ejs'); %>
 <body class="sky"> 
   <main class="register_form">
     <form action="/" method="post">
       <div class="container_register">
         <h2 id="register">Registration Page</h2>
          <input type = "text" placeholder = "id" name = "customerId">
          <input type = "text" placeholder = "firstName" name = "firstName">
          <input type = "text" placeholder = "" name = "">
          <input type = "text" placeholder = "" name = "">
          <input type = "text" placeholder = "" name = "">
          <input type = "text" placeholder = "" name = "">
          <input type = "text" placeholder = "" name = "">
          <input type = "text" placeholder = "" name = "">
          <input type = "text" placeholder = "" name = "">
        </div>
     </form>
   </main>
    <%- include('./partials/js-gallery'); %>
    <%- include('./partials/js-toggle'); %>  
</body>
  <%- include('./partials/foot'); %>
</html>