<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Travel Experts Register Page</title>
  <%- include('./partials/css-global'); %>
</head>
  <%- include('./partials/header_reg.ejs'); %>
 <body class="sky"> 
   <main class="register_form">
     <form action="/" method="post">
       <div class="container_register">
         <h2 id="register">Registration Page</h2>
          <input type = "text" placeholder = "Enter First Name" name = "firstName">
          <input type = "text" placeholder = "Enter Last Name" name = "lastName">
          <input type = "text" placeholder = "Enter Street Address" name = "address">
          <input type = "text" placeholder = "Enter City" name = "city">
          <input type = "text" placeholder = "Enter Province" name = "prov">
          <input type = "text" placeholder = "Enter Postal Code" name = "postal">
          <input type = "text" placeholder = "Enter Home Phone Number" name = "homePhone">
          <input type="email" placeholder="Enter your email address" name="email" required>
          <input type = "text" placeholder = "Create a User Name" name = "userid"required>
          <input type="password" placeholder="Enter a Password" name="passwd" minlength="8" required>
          <button>Submit!</button>
      </div>
     </form>
   </main>
    <%- include('./partials/js-gallery'); %>
    <%- include('./partials/js-toggle'); %>  
</body>
  <%- include('./partials/foot'); %>
</html>