<%- include('./partials/css-global'); %>
<%- include('./partials/head'); %>
<%- include('./partials/header'); %>

<body>
  <main>
    <div class="registered">
      <h1>THANK YOU FOR BOOKING WITH US!</h1>
      <h1>Your Order Has Been Submitted.</h1>
    </div>
  </main>
</body>

<%- include('./partials/js-global'); %>
<%- include('./partials/footer'); %>