<%- include('./partials/css-global'); %>
<%- include('./partials/head'); %> 
<%- include('./partials/header'); %>

<body>
  <h1>THANK YOU FOR BOOKING WITH US!</h1>
</body> 
<%- include('./partials/js-global'); %>
<%- include('./partials/footer'); %>
